{% load static %}

<div class="top-bar">
    <form action="{% url 'search_movie' %}" class="left">
        <a href="#" class="toggle-menu topm2"><i class="material-icons">menu</i></a>
        <img src="{% static 'icons/icon_search.svg' %}" alt="" class="icon" onclick="getFocus()">
        <input type="text" id="input_search" name="movie" placeholder="Search" value="{{ values.movie }}">
    </form>
    <div class="right">
        <img src="{% static 'icons/icon_notification.svg' %}" alt="" class="notif-ico">
        <div class="dropdown user-menu">
            <a href="#" class="" data-toggle="dropdown">
                <!--  -->
                {% if user.is_authenticated %}
                {{ user.username }}
                {% endif %}
                <img src="{% static 'icons/icon_down-arrow-small.svg' %}" alt="" class="arrow">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'settings' %}">
                    <i class="fa fa-cog"></i> Settings
                </a>
                <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </div>
            <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
            </form>
        </div>
    </div>
</div>
