{% extends "registration/base.html" %}
{% block content %}
	<!--<div class="subtitle-container">Enter your email to receive the password reset link.</div>
	<form action="{% url 'password_reset_done' %}" method="POST">
	    {% csrf_token %}
	    <input type="text" id="email" placeholder="Email" required>
	    <div class="button-container">
	        <input type="submit" value="Send E-mail" class="button">
	    </div>
	</form>-->

	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

	<form method="POST">{% csrf_token %}
		<fieldset class="module aligned">
		    <div class="form-row field-email">
		        {{ form.email.errors }}
		        	<label for="id_email">Email address:</label>
		        {{ form.email }}
		    </div>
		    <input type="submit" value="Reset my password" class="button">
		</fieldset>
	</form>
{% endblock %}