{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% include "partials/head_styles.html" %}

        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/movie.css' %}">

        <title>MyCinema | Movies</title>

    </head>

    <body>
                <div class="layout">
            <div class="l-left">
                <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
                <a href="{% url 'home' %}" class="logo-menu">My Cinema</a>
                <div class="menu">
                    <a href="{% url 'home' %}" class="menu-item">
                        <img src="{% static 'icons/icon_home-1.svg' %}" alt="" class="ico">
                        Home
                    </a>
                    <a href="{% url 'statistics_data' %}" class="menu-item">
                        <img src="{% static 'icons/icon_dashboard-1.svg' %}" alt="" class="ico">
                        Statistics
                    </a>
                    <a href="{% url 'movies' %}" class="menu-item active">
                        <img src="{% static 'icons/icon_products-1.svg' %}" alt="" class="ico">
                        Movies
                    </a>
                    <a href="{% url 'cinema_rooms' %}" class="menu-item">
                        <img src="{% static 'icons/icon_Invoices-1.svg' %}" alt="" class="ico">
                        Cinema Rooms
                    </a>
                    <a href="{% url 'program' %}" class="menu-item">
                        <img src="{% static 'icons/icon_calendar-1.svg' %}" alt="" class="ico">
                        Program
                    </a>
                    <a href="{% url 'settings' %}" class="menu-item">
                        <img src="{% static 'icons/icon_setting.svg' %}" alt="" class="ico">
                        Settings
                    </a>
                </div>
            </div>
            <div class="l-right">
                {% include 'partials/top_bar.html' %}

                <div class="main">
                    <div class="title">{{ movie.name }}</div>

                    <div class="card">
                        <div class="card-body">
                            <div class="iframe-container">

                                <!-- movie.trailer_link este ID-ul filmului de pe youtube ci nu link-ul in sine. -->
                                <iframe width="1580" height="720" src="https://www.youtube.com/embed/{{ movie.trailer_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            </div>

                            <div class="description-container">
                                <div class="image-container">
                                    <div class="movie-image" style="background-image: url({{ movie.photo_main.url }})"></div>
                                </div>

                                <div class="desc-text">
                                    <div class="description">{{ movie.description }}</div>
                                    <br>
                                    <div class="text-desc"><b>Name</b>: {{movie.name}}</div>
                                    <div class="text-desc"><b>Genre</b>: {{movie.genre}}</div>
                                    <div class="text-desc"><b>Duration</b>: {{movie.duration}} minutes</div>
                                    <div class="text-desc"><b>Price</b>: {{movie.price}} Lei</div>

                                    <br><br>
                                    {% if movie.is_published %}
                                        <div class="button-book">                          
                                            <button class="movie-button-book-now">Book now</button>
                                        </div>
                                    {% else %}
                                        <div class="button-book">
                                            <div class="filler"></div>
                                            <h1>Movie not yet available in our cinema!</h1>
                                            <div class="filler"></div>
                                        </div>
                                    {% endif %}  
                                </div>  
                            </div>
                        </div>

                       
                    </div>

                    
                </div>
            </div>
        </div>

        
    </body>
</html>