{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% include "partials/head_styles.html" %}

        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/movies.css' %}">

        <title>MyCinema | Movies</title>

    </head>

    <body>

        <div class="layout">
            <div class="l-left">
                <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
                <a href="{% url 'home' %}" class="logo-menu">My Cinema</a>
                <div class="menu">
                    <a href="{% url 'home' %}" class="menu-item">
                        <img src="{% static 'icons/icon_home-1.svg' %}" alt="" class="ico">
                        Home
                    </a>
                    <a href="{% url 'statistics_data' %}" class="menu-item">
                        <img src="{% static 'icons/icon_dashboard-1.svg' %}" alt="" class="ico">
                        Statistics
                    </a>
                    <a href="{% url 'movies' %}" class="menu-item active">
                        <img src="{% static 'icons/icon_products-1.svg' %}" alt="" class="ico">
                        Movies
                    </a>
                    <a href="{% url 'cinema_rooms' %}" class="menu-item">
                        <img src="{% static 'icons/icon_Invoices-1.svg' %}" alt="" class="ico">
                        Cinema Rooms
                    </a>
                    <a href="{% url 'program' %}" class="menu-item">
                        <img src="{% static 'icons/icon_calendar-1.svg' %}" alt="" class="ico">
                        Program
                    </a>
                    <a href="{% url 'settings' %}" class="menu-item">
                        <img src="{% static 'icons/icon_setting.svg' %}" alt="" class="ico">
                        Settings
                    </a>
                </div>
            </div>
            <div class="l-right">
                {% include 'partials/top_bar.html' %}
                
                <div class="main">
                    <h2 class="title">Movies</h2>
                    {% if movies %}
                    <div class="movies-body row">
                        {% for m in movies %}
                        <div class="col col-sm-12 col-md-4 col-lg-3">
                            <div class="movies-data-show">
                                <div class="movie-image" style="background-image: url({{ m.photo_main.url }})"></div>
                                <div class="movie-info">
                                    <div class="movie-name">
                                        {{ m.name }}
                                    </div>
                                    <div class="movie-price">
                                        {{ m.price }}
                                    </div>
                                    <div class="movie-book-now">
                                        <button class="movie-button-book-now">Book now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <h5 class="title" style="margin-left: 5%">No Movies Available</h5>
                    {% endif %}

                </div>
            </div>
        </div>
        {% include "partials/footer_scripts.html" %}
    </body>
</html>
