{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        {% include "partials/head_styles.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/movies.css' %}">

        <title>MyCinema | Movies</title>

    </head>

    <body>

        <div class="layout">
            <div class="l-left">
                <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
                <a href="{% url 'home' %}" class="logo-menu">My Cinema</a>
                <div class="menu">
                    <a href="{% url 'home' %}" class="menu-item">
                        <img src="{% static 'icons/icon_home-1.svg' %}" alt="" class="ico">
                        Home
                    </a>
                    <a href="{% url 'statistics_data' %}" class="menu-item">
                        <img src="{% static 'icons/icon_dashboard-1.svg' %}" alt="" class="ico">
                        Statistics
                    </a>
                    <a href="{% url 'movies' %}" class="menu-item active">
                        <img src="{% static 'icons/icon_products-1.svg' %}" alt="" class="ico">
                        Movies
                    </a>
                    <a href="{% url 'cinema_rooms' %}" class="menu-item">
                        <img src="{% static 'icons/icon_Invoices-1.svg' %}" alt="" class="ico">
                        Cinema Rooms
                    </a>
                    <a href="{% url 'program' %}" class="menu-item">
                        <img src="{% static 'icons/icon_calendar-1.svg' %}" alt="" class="ico">
                        Program
                    </a>
                    <a href="{% url 'settings' %}" class="menu-item">
                        <img src="{% static 'icons/icon_setting.svg' %}" alt="" class="ico">
                        Settings
                    </a>
                </div>
            </div>
            <div class="l-right">
                <div class="top-bar">
                    <form action="{% url 'search_movie' %}" class="left">
                        <a href="#" class="toggle-menu topm2"><i class="material-icons">menu</i></a>
                        <img src="{% static 'icons/icon_search.svg' %}" alt="" class="icon" onclick="getFocus()">
                        <input type="text" id="input_search" name="movie" placeholder="Search" value="{{ values.movie }}">
                    </form>
                    <div class="right">
                        <img src="{% static 'icons/icon_notification.svg' %}" alt="" class="notif-ico">
                        <div class="dropdown user-menu">
                            <a href="#" class="" data-toggle="dropdown">
                                <!--  -->
                                {% if user.is_authenticated %}
                                {{ user.username }}
                                {% endif %}
                                <img src="{% static 'icons/icon_down-arrow-small.svg' %}" alt="" class="arrow">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'settings' %}">
                                    <i class="fa fa-cog"></i> Settings
                                </a>
                                <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            </div>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <h2 class="title">Movies</h2>
                    {% if movies %}
                    <div class="movies-body row">
                        {% for m in movies %}
                        <div class="col col-sm-12 col-md-4 col-lg-3">
                            <div class="movies-data-show">
                                <div class="movie-image" style="background-image: url({{ m.photo_main.url }})"></div>
                                <div class="movie-info">
                                    <div class="movie-name">
                                        {{ m.name }}
                                    </div>
                                    <div class="movie-price">
                                        {{ m.price }}
                                    </div>
                                    <div class="movie-book-now">
                                        <button class="movie-button-book-now">Book now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <h5 class="title" style="margin-left: 5%">No Movies Available</h5>
                    {% endif %}

                </div>
            </div>
        </div>
        {% include "partials/footer_scripts.html" %}
    </body>
</html>
