{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% include "partials/head_styles.html" %}

        <link rel="stylesheet" href="{% static 'stylesheets/myCinemaSettings.css' %}">

        <title>MyCinema | Settings</title>

    </head>

    <body>
        <div class="layout">
            <div class="l-left">
                <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
                <a href="{% url 'home' %}" class="logo-menu">My Cinema</a>
                <div class="menu">
                    <a href="{% url 'home' %}" class="menu-item">
                        <img src="{% static 'icons/icon_home-1.svg' %}" alt="" class="ico">
                        Home
                    </a>
                    <a href="{% url 'statistics_data' %}" class="menu-item">
                        <img src="{% static 'icons/icon_dashboard-1.svg' %}" alt="" class="ico">
                        Statistics
                    </a>
                    <a href="{% url 'movies' %}" class="menu-item">
                        <img src="{% static 'icons/icon_products-1.svg' %}" alt="" class="ico">
                        Movies
                    </a>
                    <a href="{% url 'cinema_rooms' %}" class="menu-item">
                        <img src="{% static 'icons/icon_Invoices-1.svg' %}" alt="" class="ico">
                        Cinema Rooms
                    </a>
                    <a href="{% url 'program' %}" class="menu-item">
                        <img src="{% static 'icons/icon_calendar-1.svg' %}" alt="" class="ico">
                        Program
                    </a>
                    <a href="{% url 'settings' %}" class="menu-item active">
                        <img src="{% static 'icons/icon_setting.svg' %}" alt="" class="ico">
                        Settings
                    </a>
                </div>
            </div>
            <div class="l-right">
                {% include 'partials/top_bar.html' %}

                <div class="main">
                    <h2 class="title">Settings</h2>
                    <div class="settingsContainer">
                        <form action="save" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!--Alerts-->
                            {% include 'partials/alerts.html' %}
                            <div class="row">
                                <div class="col-sm-12 col-lg-4 offset-sm-1">
                                    <div class="clear">
                                        <div class="image-part">
                                            <img src="{% static 'images/john-doe.png' %}" alt=""
                                                 class="profile">
                                            <img src="{% static 'icons/icon_edit.svg' %}" alt=""
                                                 class="editProfileImage">
                                            <input type="file" name="profile_image"
                                                   class="profile_image_upload_hidden">
                                        </div>
                                        <div class="profile-usrn-info">
                                            <h3>{{ user.username }}</h3>
                                            <p>{{ user_user_type }}</p>
                                        </div>
                                    </div>
                                    <div class="details-container">
                                        <div class="details">
                                            <h5>First Name</h5>
                                            {% if user_first_name %}
                                            <p>{{ user_first_name }}</p>
                                            {% else %}
                                            <p>-</p>
                                            {% endif %}
                                        </div>
                                        <div class="details">
                                            <h5>Last Name</h5>
                                            {% if user_last_name %}
                                            <p>{{ user_last_name }}</p>
                                            {% else %}
                                            <p>-</p>
                                            {% endif %}
                                        </div>
                                        <div class="details">
                                            <h5>Email</h5>
                                            {% if user_email %}
                                            <p>{{ user_email }}</p>
                                            {% else %}
                                            <p>-</p>
                                            {% endif %}
                                        </div>
                                        <div class="details">
                                            <h5>Phone</h5>
                                            {% if user_phone_number %}
                                            <p>{{ user_phone_number }}</p>
                                            {% else %}
                                            <p>-</p>
                                            {% endif %}
                                        </div>
                                        <div class="details">
                                            <h5>Birthdate</h5>
                                            {%if user_birthdate %}
                                            <p>{{ user_birthdate }}</p>
                                            {% else %}
                                            <p>-</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 offset-lg-1">
                                    <div class="field">
                                        <input type="text" class="formField" name="settings_first_name"
                                               placeholder="Enter your first name">
                                        <label name="settings">First Name</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="settings_last_name"
                                               placeholder="Enter your last name">
                                        <label name="settings">Last Name</label>
                                    </div>

                                    <div class="field">
                                        <input type="email" class="formField" name="settings_email"
                                               placeholder="Enter your email address">
                                        <label name="settings">Email Address</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="settings_phone_number"
                                               placeholder="Enter your phone number">
                                        <label name="settings">Phone Number</label>
                                    </div>

                                    <div class="field">
                                        <input type="date" class="formField" name="settings_birthdate">
                                        <label name="settings">Birthdate</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="settings_password"
                                               placeholder="Type to change password">
                                        <label name="settings">New Password</label>
                                    </div>

                                    <div class="text-center">
                                        <input type="submit" class="button" value="Change profile">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        {% include "partials/footer_scripts.html" %}
        <script src="{% static 'scripts/main.js' %}"></script>
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %} "></script>
        <script src="{% static 'scripts/lightbox.min.js' %} "></script>
    </body>

</html>
