{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% include "partials/head_styles.html" %}

        <link rel="stylesheet" href="{% static 'stylesheets/myCinemaSettings.css' %}">

        <title>MyCinema | Settings</title>

    </head>

    <body>
        <div class="layout">
            <div class="l-left">
                <a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
                <a href="{% url 'home' %}" class="logo-menu">My Cinema</a>
                <div class="menu">
                    <a href="{% url 'home' %}" class="menu-item">
                        <img src="{% static 'icons/icon_home-1.svg' %}" alt="" class="ico">
                        Home
                    </a>
                    <a href="{% url 'statistics_data' %}" class="menu-item">
                        <img src="{% static 'icons/icon_dashboard-1.svg' %}" alt="" class="ico">
                        Statistics
                    </a>
                    <a href="{% url 'movies' %}" class="menu-item">
                        <img src="{% static 'icons/icon_products-1.svg' %}" alt="" class="ico">
                        Movies
                    </a>
                    <a href="{% url 'cinema_rooms' %}" class="menu-item">
                        <img src="{% static 'icons/icon_Invoices-1.svg' %}" alt="" class="ico">
                        Cinema Rooms
                    </a>
                    <a href="{% url 'program' %}" class="menu-item">
                        <img src="{% static 'icons/icon_calendar-1.svg' %}" alt="" class="ico">
                        Program
                    </a>
                    <a href="{% url 'settings' %}" class="menu-item active">
                        <img src="{% static 'icons/icon_setting.svg' %}" alt="" class="ico">
                        Settings
                    </a>
                </div>
            </div>
            <div class="l-right">
                {% include 'partials/top_bar.html' %}

                <div class="container">

                    <div class="settingsContainer">
                        <h1 class="Title">Settings</h1>
                        <div class="settings">
                            <div class="settingsLeftSide">

                                <div class="image-details">
                                    <div class="image-part">
                                        <img src="{% static 'images/john-doe.png' %}" alt="" class="profile">
                                        <div class="bgPen"><img src="{% static 'icons/icon_edit.svg' %}" alt=""
                                                                class="editProfile">
                                        </div>
                                    </div>
                                    <div class="nameContainerProfile">

                                    </div>
                                    <div class="name">
                                        <h3>{% if user.is_authenticated %}
                            {{ user.username }}
                            {% endif %}</h3>
                                        <p>User type</p>
                                    </div>
                                    <div class="editPenName">
                                        <img src="{% static 'icons/icon_edit.svg' %}" alt="" class="editName">
                                    </div>
                                </div>
                                <div class="details-part">
                                    <div class="details">
                                        <h5>First Name</h5>
                                        <p>John</p>
                                    </div>

                                    <div class="details">
                                        <h5>Last Name</h5>
                                        <p>Doe</p>
                                    </div>

                                    <div class="details">
                                        <h5>Profile Data</h5>
                                        <p>Regular 18pt</p>
                                    </div>

                                    <div class="details">
                                        <h5>Profile Data</h5>
                                        <p>Regular 18pt</p>
                                    </div>

                                </div>

                            </div>
                            <div class="settingsRightSide">
                                <form class="settingsForm" action="">
                                    <div class="field">
                                        <input type="text" class="formField" name="FName"
                                               placeholder="Enter your first name" onsubmit="return checkforblank()"
                                               required>
                                        <label name="settings">First Name</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="LName"
                                               placeholder="Enter your last name"
                                               required>
                                        <label name="settings">Last Name</label>
                                    </div>

                                    <div class="field">
                                        <input type="email" class="formField" name="email"
                                               placeholder="Enter your email address" required>
                                        <label name="settings">Email Address</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="phone"
                                               placeholder="Enter your phone number" required>
                                        <label name="settings">Phone Number</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="settings" placeholder="Placeholder"
                                               required>
                                        <label name="settings">Label</label>
                                    </div>

                                    <div class="field">
                                        <input type="text" class="formField" name="settings" placeholder="Placeholder"
                                               required>
                                        <label name="settings">Label</label>
                                    </div>
                                </form>
                                <div class="form-buttons-container">
                                    <button class="discardBtn" type="button">Discard</button>
                                    <button class="saveBtn" type="submit" disabled>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "partials/footer_scripts.html" %}
    </body>

</html>
